# critical
.ssh/
.gnupg/
.netrc
.aws/
.azure/
docker/config.json
**/.env
**/*.env
**/credentials*
**/id_*
**/*secret*
**/*token*
**/*password*
**/*service-account*.json
**/*oauth*.json

# local junk
.local/
.cache/

# browsers & sync clients
mozilla/
chromium/
brave/
google-chrome/
Obsidian/
pcloud/
dropbox/
Nextcloud/
rclone/

# networking
NetworkManager/
wireguard/
openvpn/

# editors / misc noise
*.swp
*.swo
*.DS_Store
Thumbs.db
